/* write your css here */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    overflow-x: hidden;
    color:  white;
}
.homepage_bg {
    background: url("../src/assets/Images/bghome.svg");
}
.logoImg {
    border-radius: 50%;
  }